body{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    transition: 1s;
    background-color: rgb(0, 0, 0);
    object-fit: cover;
    font-family: fantasy;
}
.login_text{
    margin-left: 2rem;
    color: rgb(230, 172, 16);
}
p{
    font-size: 20px;
    color:white;
    text-align: left;
}
.form_container{
    box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.267);
    max-width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    margin-top: 5rem;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: rgb(0, 0, 0);
    background-size: cover;
}
input{
    width: 500px;
    height: 30px;
    background-color: rgb(0, 0, 0);
    border: 0;
    border-radius: 5px;
    padding: .5rem 1rem;
    outline: none;
    background-color: rgb(255, 255, 255);
}
button{
    padding: 1rem;
    width: 100px;
    border-radius: 10px;
    border: 1px solid;
}
button:hover{
    background-color: rgb(230, 172, 16);
    transition: .2s;
}
input:hover{
    background-color: rgb(230, 172, 16);
}